<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1017602621147-g187mfldd8nlpofmjhc755ve904djb86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017602621147-g187mfldd8nlpofmjhc755ve904djb86</string>
	<key>API_KEY</key>
	<string>AIzaSyDPsoDez04RFT8aTB0DmwUpUyVXDw5JN1c</string>
	<key>GCM_SENDER_ID</key>
	<string>1017602621147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.photosaver888</string>
	<key>PROJECT_ID</key>
	<string>photosave-81f15</string>
	<key>STORAGE_BUCKET</key>
	<string>photosave-81f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017602621147:ios:62d5a58aead81f0f</string>
	<key>DATABASE_URL</key>
	<string>https://photosave-81f15.firebaseio.com</string>
</dict>
</plist>